body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #FF5733;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}
.menu {
    padding: 20px;
    margin-bottom: 100px; 
}

.menu h2 {
    text-align: center;
    color: #333;
}

.menu-item {
    display: flex;
    background-color: white;
    margin: 20px 0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-item img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 20px;
}

.menu-details h3 {
    margin: 0;
    color: #FF5733;
}

.menu-details p {
    color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
